body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    background-color: #161A20;
}

header {
    justify-content: center;
    background-color: #242A36;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    margin-bottom: 5px; 
    text-align: center;
}

footer {
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    color:white;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color:wheat;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color:wheat;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color:wheat;
    text-align: center;
}
h5 {
    text-align: center;
    flex: auto;
}

button:hover {
    background-color: #192F66;
    color: wheat;
}

li {
    list-style: none;
}

button {
    background-color: rgb(55, 141, 255);
    color: black;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 5px;
}

.search {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    text-align: left;
}

.searchCard {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #454451;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.history-btn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(0, 140, 255);
    color: black;
}

.history {
    background-color: white;
    color: black;
}

.history:hover {
    background-color: #242A36;
    color: black;
}

.currentCard {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #242A36;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    padding: 1px 0px 10px 0px;
    margin: 5px 0px 30px 5px;
}

.forecastCard {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #122393;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    margin: 5px 0px 30px 5px;
}

.hidden {
    display: none;
}

.uvcard {
    text-align: center;
    display: inline-flex;
    border-radius: 10px;
    padding: 3px 5px 0px 5px;;
    width: 200px;
}

.green {
    background-color: green;
    color: #192F66;
}

.yellow {
    background-color: yellow;
    color: #192F66;
}

.orange {
    background-color: orange;
    color: #192F66;
}

.red {
    background-color: red;
    color: #192F66;
}